.form-container {
    width: 400px;
    margin: auto;
}

#cardlist li {
    margin: 10px;
}

.scaled {
    transform: scale(1);
}

.ui.selected {
    color: red;
}

.ui.button:focus {
    color: #cacbcd;
    background-color: #e0e1e2;
}

.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input {
    width: 80%;
}
